h1:hover {
    background-color: purple;
    color: aquamarine;
}

input:focus {
    background-color: teal;
}

/*button:focus {
    border-radius: 10px;
    background-color: #2ecc71;
}

button:active {
    background-color: orange;
    font-size: 30px;
}
button:hover {
    color: white;
}
*/

h1:active, p:active {
    color: yellow;
}

a:active{
    color: purple;
}

.btn {
    outline: none;
    border: none;
    cursor: pointer;
    display: block;
    position: relative;
    background-color: #fcad26;
    font-size: 16px;
    font-weight: 300px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 25px 80px;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0 6px #efa424;
}

.btn:hover {
    box-shadow: 0 4px #efa424;
    top: 2px;
}

.btn:active {
    box-shadow: none;
    top: 6px;
}

p {
    width: 50px;
    height: 50px;
    background-color: #1abc9c;
}

p:hover {
    transform: translate(20px, 20px);
}

p.move-right {
    background-color: #3498db;
    transform: translateX(100px);
}

p.move-down {
    background-color: #fcad26;
    transform: translateY(20px);
}

.transformed{
    transform: scale(2);
    transform-origin: 0 0;
}

.rotate {
    transform: rotate(45deg);
}